@import 'fonts.scss';
@import 'variables.scss';

.modal {
    transition: opacity 0.25s ease;
    z-index: 9999;
}

.modal-active {
    height: 100%;
    overflow: hidden;
}

.upload-media-content-row {
    padding-left: 1.25rem;
    margin-top: auto;
    margin-bottom: auto;
}