.modal {
  transition: opacity 0.25s ease;
  z-index: 9999;
}

.modal-active {
  height: 100%;
  overflow: hidden;
}

.upload-media-content-row {
  padding-left: 1.25rem;
  margin-top: auto;
  margin-bottom: auto;
}

@media (min-width: 768px) {
  .modal-media-image-section {
    width: 66.66%;
    max-width: 66.66%;
  }
}
@media (max-width: 768px) {
  .modal-media-image-section img {
    height: 30vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.modal-media-meta-section {
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-media-meta-section {
    width: 33.33%;
    max-width: 33.33%;
    border-left-width: 1px;
  }
}

.navigation {
  height: 4rem;
}

.min-h-screen-nav {
  min-height: calc(100vh - 4rem);
}

.open-modal {
  position: relative;
}

.item-selected {
  border: 3px solid dodgerblue;
  border-radius: 5px;
}

.item-favourited:after {
  bottom: 0;
  content: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="red" class="w-5 h-5"><path d="M9.653 16.915l-.005-.003-.019-.01a20.759 20.759 0 01-1.162-.682 22.045 22.045 0 01-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 018-2.828A4.5 4.5 0 0118 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 01-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 01-.69.001l-.002-.001z" /></svg>');
  position: absolute;
  width: 15%;
}

.header-button-disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
